<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap1.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MyDive</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Инструкция слушателя</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Присоединяйтесь к MyDive!</h1>
          <p>Зарегистрируйтесь сейчас и начните свое подводное приключение с нами.</p>
          <p><a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Зарегистрироваться &raquo;</a></p>;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Обучение в MyDive</h2>
            <img src="../../static/images/training.jpg" alt="Обучение в MyDive" class="img-fluid mb-3">
            <p>Узнайте все о дайвинге с нашими профессиональными тренерами.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Пройти тест на уровень знаний в области дайвинга</h2>
            <img src="../../static/images/quiz.jpg" alt="Тест на уровень знаний" class="img-fluid mb-3">
            <p>Проверьте свои знания и готовность к глубоководным приключениям.</p>
            <p><a class="btn btn-secondary" href="{% url 'quiz' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Быстрый экскурс в мир дайвинга</h2>
            <img src="../../static/images/intro.jpg" alt="Экскурс в мир дайвинга" class="img-fluid mb-3">
            <p>Погрузитесь в мир подводных приключений с нашим кратким обзором основ.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        
        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <div class="contact-info">
        <h4>Контактная информация</h4>
        <p>Адрес: Первомайская32д7, Москва, Россия</p>
        <p>Телефон: +7 (123) 456-7890</p>
        <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
      </div><p>&copy; School 2024</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>