<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>ИНСТРУКЦИЯ СЛУШАТЕЛЯ</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap1.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MyDive</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'instruction' %}">Инструкция слушателя</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">ИНСТРУКЦИЯ СЛУШАТЕЛЯ</h1>
      <p class="lead">Требования к оборудованию рабочего места слушателя для работы в системе электронного дистанционного обучения "MyDive".

      </p>Минимальные требования к компьютерному оборудованию: системный блок характеристики, которого обеспечивают стабильную работу Windows XP/Vista/7/8x, монитор с разрешением не менее 1024х768, устройство для воспроизведения аудиоинформации, веб-камера, микрофон, постоянное подключение к Интернет со скоростью не менее 1 Миб/сек.
        
        Программное обеспечение: Chrome (рекомендуется)/Internet Explorer, Adobe Reader, Adobe Flash Player, Skype.
        
      </p>Для входа в систему электронного дистанционного обучения нажмите кнопку «Войти» в шапке сайта. В открывшемся окне введите логин и пароль. Нажмите кнопку «Ок».
        Осуществив вход, пожалуйста, следуйте следующим рекомендациям.
        
        Рабочее поле интерфейса состоит из двух частей: левая - меню, правая - информационная.
        
        Рабочее поле интерфейса состоит из двух частей: левая - меню, правая - информационная.
        
      </p>1.Ознакомьтесь с данными Вашего Тьютора (преподавателя), к которому можно обратиться по вопросам, непосредственно связанным с подготовкой по данному курсу. Для этого в поле ГЛАВНАЯ – Мои курсы кликните на значок информации «i». Появится окно с информацией о том, в какой группе по данному курсу Вы состоите и ФИО Тьютора (либо преподавателя), курирующего подготовку данной группы. Чтобы отправить тьютору сообщение, кликните на наименование курса в процессе прохождения которого возникли вопросы. В появившемся окне кликните на ФИО Тьютора (или Преподавателя). В появившемся окне заполните поле «Сообщение», кликните «ОК».
        
    </p> 2. Ознакомьтесь с контактными данными Вашего Организатора, к которому можно обратиться по организационным вопросам. Для этого выберите НАСТРОЙКИ → Контакты.
        
  </p> 3. Ознакомьтесь с календарным планом изучения курса. Для этого выберите ГЛАВНАЯ → Мои курсы кликните на значок "Расписание". В появившемся окне ознакомьтесь с расписанием.
        
</p> 4. Для изучения учебно-методических пособий в соответствии с календарным планом, необходимо в ОБУЧЕНИЕ → Мои курсы выбрать курс. Появится список доступных материалов по данному курсу.  В ОБУЧЕНИЕ-Библиотека включен раздел "Общедоступный", содержащий электронные учебно-методические пособия по темам вне изучаемого курса.
        
</p> 5. Для получения доступа к отчетам о результатах тестирования, войдите в раздел Тестирование → Результаты.
        
</p>  6. Для прохождения промежуточной проверки знаний или итоговой аттестации - экзамена, в соответствии с календарным планом необходимо связаться с тьютором и получить доступ. После того, как тьютором будет выдан доступ к аттестации нажмите маркер 'Сдать' на ГЛАВНАЯ - Мои экзамены. Или ОБУЧЕНИЕ - Мои курсы - «Наименование курса» - Итоговая аттестация.</p>
      <p>
    </main>

    <footer class="container">
      <div class="contact-info">
        <h4>Контактная информация</h4>
        <p>Адрес: Первомайская32д7, Москва, Россия</p>
        <p>Телефон: +7 (123) 456-7890</p>
        <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
      </div><p>&copy; School 2024</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
